In [39]:
import pandas as pd
import datetime as dt

In [5]:
day = dt.date(2016,4,20)

In [12]:
day.year
day.month

4

In [26]:
time = dt.datetime(2010,1,10,15,27,45)

In [29]:
time.second
time.hour
time.minute

27

In [34]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013,11,04")
pd.Timestamp("2011-03-05 6:13:29 PM")

Timestamp('2011-03-05 18:13:29')

In [35]:
pd.Timestamp(time)#tambien admite datetime de python

Timestamp('2010-01-10 15:27:45')

In [36]:
dates = ["2016-01-02", "2016-04-12", "1997-10-07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '1997-10-07'], dtype='datetime64[ns]', freq=None)

In [42]:
dates = [dt.date(2016,1,10), dt.date(1994,6,11)]
dtindex = pd.DatetimeIndex(dates)

In [43]:
values = [100,200]# timeobject as index
pd.Series(data = values, index = dtindex)

2016-01-10    100
1994-06-11    200
dtype: int64

In [44]:
pd.to_datetime("2001-04-19")#pd to time method
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(["2015-01-03", "2014/02/08","2012", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2012-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [45]:
times = pd.Series(["2015-01-03", "2014/02/08","2012", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2012
3    July 4th, 1996
dtype: object

In [46]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2012-01-01
3   1996-07-04
dtype: datetime64[ns]

In [47]:
pd.to_datetime(times, errors = "coerce")

0   2015-01-03
1   2014-02-08
2   2012-01-01
3   1996-07-04
dtype: datetime64[ns]

In [48]:
times = pd.date_range(start="2016-01-01", end= "2016-01-10", freq = "D" )  #date range method

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [54]:
pd.date_range(start="2016-01-01", end= "2016-01-10", freq = "M" ) #A last day of each year M el ultimo dia del mes MS el primer dia del mes 6H cada hora la serie B business day exluye fines de semana W-FRI entrega la serie con un dia a la semana indicado

DatetimeIndex([], dtype='datetime64[ns]', freq='M')